header h1{
    background-color: #CE1126;
    margin: 0;
    padding: 0;
}

header h2, header h3{
    color: white;
    background-color: #14213D;
    margin: 0;
    padding: 10px;
}

div h3, div ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    font-size: 20px;
}

body{
    background-color: #006BA6;
}

footer{
    background-color: #CE1126;
    position: fixed;
    bottom: 0;
    right: 10px;
    padding: 5px;
    font-weight: bolder;
}
